# Ignore virtual environment directories
env

# Ignore Python cache files and directories
*.pyc
**/*.pyc
__pycache__/
*/__pycache__/
***__pycache__

# Ignore environment variables file
.env

# Ignore AI-Hand config file in Camera/config
Camera/config/ai-hand.json\
~/.config/gcp/ai-hand.json
Config/gcp/ai-hand.json

# Ignore data directory (captured frames, etc.)
data/
